body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

h1 {
    margin: 20px 0;
    font-size: 58px;
    color: #333;
    text-align: center;
}

.dashboard {
    display: flex;
    justify-content: center;
}

.equipment-list {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.machine {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px 0;
    background-color: #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

.machine-name {
    font-size: 30px;
    color: #000; /* Черный цвет шрифта */
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.machine.repair {
    background-color: #ffcccc;
}

.machine.idle {
    background-color: #fff5cc;
}

.machine.working {
    background-color: #ccffcc;
}

.machine.unknown {
    background-color: #e0e0e0;
}
