<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Состояние оборудования</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Состояние оборудования</h1>
    <div id="group-name" class="group-name"></div>
    <div id="dashboard" class="dashboard">
        <div id="equipment-list" class="equipment-list">
            <!-- Оборудование будет загружено сюда -->
        </div>
    </div>

    <script>
        function updateDashboard(groupId) {
            let url = groupId !== null ? `/status/data?group_id=${groupId}` : `/status/data`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data && data.equipment) {
                        const equipmentList = document.querySelector('#equipment-list');
                        const groupNameElement = document.querySelector('#group-name');

                        // Обновляем название цеха
                        groupNameElement.innerText = data.group_name;

                        // Очистка текущего контента
                        equipmentList.innerHTML = '';

                        data.equipment.forEach(machine => {
                            const div = document.createElement('div');
                            div.className = 'machine ' + machine.status;

                            const span = document.createElement('span');
                            span.className = 'machine-name';
                            span.innerText = machine.equipment_name;

                            div.appendChild(span);
                            equipmentList.appendChild(div);
                        });
                    } else {
                        console.error('Неправильный формат данных:', data);
                    }
                })
                .catch(error => console.error('Ошибка при загрузке данных:', error));
        }

        // Получаем group_id из переменной окружения (или используем null для всего оборудования)
        const groupId = "{{ group_id }}" !== "None" ? "{{ group_id }}" : null;

        // Первоначальный вызов функции для загрузки данных сразу после загрузки страницы
        updateDashboard(groupId);

        // Обновляем данные каждые 10 секунд
        setInterval(() => updateDashboard(groupId), 10000); // Обновление каждые 10 секунд
    </script>
</body>
</html>
